<div class="container" >
    <div class="row justify-content-center p-4">
    <div class="card" >
        <div class="card-body">
          <h3 class="card-title">Login</h3>
          <h6 class="card-subtitle mb-2 text-muted">Enter your credentials to access account</h6>
          <form (ngSubmit)="login()">
          <div class="form">
         <div class="form-group p-2">
             <input class="form-control " type="email" name="email" [(ngModel)]="email" placeholder="enter email" value=""/>
             <fa-icon [icon]="faEnvelope" class="email"></fa-icon>
            </div>
         <div class="form-group p-2">
            <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="enter password" value=""/>
            <fa-icon [icon]="faLock" class="lock"></fa-icon> 
        </div>
       
         <div>
             <input type="submit" class="btn btn-primary" value="Signin"/>
         </div>
        </div>
         <div style="padding-top: 5%;"><span style="padding-right: 5%;">Don't have an account</span><a href="#" routerLink="/signup">SignUp</a></div>
        </form>
        <div class="form-group" style="padding-top: 5px;">
            <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>
            
            <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>

        </div>
        </div>

      </div>
   
    </div>
</div>
