.card{
    width: 28rem; 
    margin-top: 15%;
}
.container{
    text-align: center;
}
.btn{
    width: 95%;
}
.card-title{
    color: rgb(56, 56, 240);
}
.form-control{
    
    margin-bottom:10px;
}
.form{
margin-top: 30px;
}